.avatarName {
  display: grid;
  border-radius: 50%;
  background-color: #505050;
  color: #ffffff;
  align-items: center;
  font-size: 50px;
  text-transform: uppercase;

  @media all and (max-width: 1024px) {
    font-size: 40px;
  }
}

.avatar {
  display: grid;
  width: 100%;
  max-width: 145px;
  height: 145px;
  text-align: center;

  @media all and (max-width: 1024px) {
    max-width: 100px;
    height: 100px;
  }
}
